/* styles.css */

html {
    font-family: Righteous,"sans-serif";
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #f8f8f2;

}
nav {
    
    background-color: #1f1f1f;
    color: #93a3bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px ;
    width: 100%; /* Make the navbar full width */
    position: relative;
}
nav div{
    font-family: monospace;
    font-size: 40px;
    font-weight: 900;
    padding-left: 30px;
    color: #93a3bd;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 50px;
}

.nav-links a {
    color: #93a3bd;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
}
h1 {
    font-size: 4.5rem;
    box-sizing: border-box;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #f8f8f2;
    text-align: center;
}

h2{
    color: #93a3bd;
    font-weight: 900;
    text-align: center;
    font-size: 2.25rem;
    text-decoration: underline;
}
p{
    font-size: 20px;
    font-family: Righteous,"sans-serif";

}
.string{
    font-family: monospace;
    color: #c96f3e;
}
.int{
    font-family: monospace;
    color: #93c985;
}
.pd{
    padding: 100px;
}

section {
    color: #f8f8f2;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    min-height: 24rem;
    max-height: none;
}


footer {
    background-color: #181818;
    color: #f8f8f2;
    text-align: center;
    padding: 10px;
}

/* Add icon styles */
.fa {
    margin-right: 5px;
    color: #a6e22e;
}
.bg-theme-orange-to-red {
    height: 0.25rem;
    background-image: linear-gradient(45deg, #ff8000 0%, #f00 100%); 
}

.bg-theme-purple-to-blue {
    height: 0.25rem;
    background-image: linear-gradient(45deg, #a83efe 0%, #006aff 100%);
}
.bg-theme-peach-to-purple {
    height: 0.25rem;
    background-image: linear-gradient(45deg, #ff8080 0%, #50f 100%);
}

/* Centering the social icons */
.social-icons {
    display: flex;
    justify-content: center;
}

/* Styling the icons */
.social-icons a {
    display: inline-block;
    margin: 0 10px;
    padding: 11;
    font-size: 32px; /* Adjust the icon size */
    color: #333; /* Default icon color */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition on hover */
}

/* Adding gradient colors on hover */
.social-icons a:hover {
    background-size: 200% 100%; /* Larger background size for smoother gradient transition */
    background-position: right center; /* Start gradient from right side */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* Apply gradient to text for Safari/Chrome */
    color: transparent; /* Hide original text color */
    animation: gradient-animation 1s ease forwards; /* Animation to change gradient color */
}

/* Custom gradient colors for each social media icon */
.social-icons a:nth-child(1):hover {
    background-image: linear-gradient(to right, #ff8080, #50f); /* GitHub gradient colors */
}

.social-icons a:nth-child(2):hover {
    background-image: linear-gradient(to right, #1bb2f3, #0d61f2); /* Twitter gradient colors */
}

.social-icons a:nth-child(3):hover {
    background-image: linear-gradient(to right, #0077b5, #0e6aa8); /* LinkedIn gradient colors */
}

.social-icons a:nth-child(4):hover {
    background-image: linear-gradient(to right, #e84118, #c23616); /* Email gradient colors */
}

/* Animation to change gradient color */
@keyframes gradient-animation {
    from { background-position: right center; }
    to { background-position: left center; }
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me img {
    width: 45%; /* Adjust the width as needed */
    margin-left: 50px; /* Add spacing between the image and paragraph */
}

.about-me p {
    width: 60%; /* Adjust the width as needed */
}
.tech-stack {
    margin-top: 20px;
}

.icon {
    text-align: center;
    padding: 10px;
    background-color: #1e1e1e; /* Background color for each icon box */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 150px; /* Fixed width for each icon box */
    margin: 10px; /* Margin between each icon box */
}

.icon img {
    width: 50px; /* Adjust the size of the icons as needed */
    margin-bottom: 10px; /* Margin between the icon and the text */
}

.icon span {

    display: block;
}
.tech-stack .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between icons as needed */
}

.tech-stack .icons img {
    width: 100px; /* Adjust the size of the icons as needed */
    filter: grayscale(100%); /* Apply grayscale filter to make icons gray */
    transition: filter 0.3s ease, transform 0.3s ease; /* Add transition effect for both filter and transform */
}

.tech-stack .icons img:hover {
    filter: none; /* Remove grayscale filter on hover */
    transform: scale(1.1); /* Make the icon "pop up" by increasing its size */
}

.tech-stack .icon {
    text-align: center; /* Center align the icon and its name */
}

.tech-stack .icon img {
    width: 100px; /* Adjust the size of the icons as needed */
    margin-bottom: 30px;
}

.tech-stack .icon span {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px; /* Adjust the spacing between the icon and its name */
    
}

.projects {
    padding: 20px;
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* Text color */
}
.project-box img {
    padding: 5px;
    width: 310px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
}
.projects h2 {
    text-align: center;
}
.project-header {
    display: flex;
    align-items: center;
}

.project-header i {
    margin-right: 10px; /* Adjust the margin between the icon and the heading */
}

.project-header h3 {
    margin: 0; /* Remove default margin */
    line-height: 1; /* Ensure the line height is normal */
    vertical-align: middle; /* Align the heading vertically with the icon */
}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.project-box {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.project-box:hover {
    transform: translateY(-10px) scale(1.05); /* Slightly lifts and scales the box */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Stronger shadow for pop-up effect */
}

.project-header {
    display: flex;
    align-items: center;
}

.project-header img {
    width: 30px; /* Adjust the size of the GitHub logo */
    margin-right: 10px;
}

.project-box h3 {
    margin-top: 0;
}

.project-box p {
    margin-bottom: 15px;
}

.project-box a {
    display: block;
    text-align: center;
    color: #fff; /* Link color */
    text-decoration: none;
    background-color: #007acc; /* GitHub blue color */
    padding: 8px 0;
    border-radius: 5px;

}

.project-box a:hover {
    background-color: #005fa3; /* Darker shade of GitHub blue color */
    transform: scale(1.1); /* Slight scaling effect for the link */
    transition: transform 0.2s ease;
}



.tag {
    display: inline-block;
    background-color: #388BFD1A ;
    color: #4493f8;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2em;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    margin-right: 5px;
    margin-bottom: 15px;
    border-radius: 62px;
    text-transform: lowercase;
    letter-spacing: 0.1px;
}

.tag:hover {
    background-color: #1e7af2;
    color: #ffffff;
    transform: scale(1.05); /* Slightly grow the tag on hover */
    transition: transform 0.2s ease;
}


/* For smaller screens */
@media only screen and (max-width: 768px) {
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 23px;
    }
    p{
        font-size: 15px;
    }
    .nav-links {
        flex-direction: column; /* Stack navigation links vertically */
    }

    .nav-links li {
        margin-right: 20px; /* Remove right margin for navigation links */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    .project-box {
        
        margin-bottom: 20px; /* Add bottom margin for spacing between project boxes */
    }
    
    .project-box img {
        width: 100%; /* Make project images fill the container */
    }

    .about-me {
        flex-direction: column; /* Stack image and paragraph vertically */
    }

    .about-me img {
        width: 80%; /* Make the image fill the container */
        margin-left: 0; /* Remove left margin */
        margin-bottom: 20px; /* Add bottom margin for spacing */
    }

    .about-me p {
        width: 100%; /* Make the paragraph fill the container */
        margin-left: 0; /* Remove left margin */
    }

    .icons {
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for smaller screens */
    }
    .tech-stack .icons {
        grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns for smaller screens */
    }

    .tech-stack .icon {
        width: 80%; /* Adjust the width of each icon box */
        margin: 10px auto; /* Center align each icon box */
    }

    .tech-stack .icon img {
        width: 80px; /* Adjust the size of the icons for smaller screens */
    }

    .tech-stack .icon span {
        margin-top: 5px;
        margin-bottom: 5px; /* Adjust the spacing between the icon and its name */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
